<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AstDefaultInputPath" value="cbl" />
        <add key="AstDefaultOutputPath" value="ast" />
        <add key="AstDefaultCharset" value="big5" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
